.content
  .content-flex
    .order-content.wrap-row-start-start.w100.h100
      .row-start-center.w100.h1 Orders
      .state-order.row-start-center.w100 IN PROGRESS
      .row-start-center.w100
        %table.table
          %thead
            %th Product
            %th Price
            %th QTY
            %th Total
            %th
          %tbody
            - @order_items&.each do |product|
              %tr
                %td
                  .cart-product
                    %image= link_to image_tag("#{product[:image]}"), product_path(product[:id])
                    %descr
                      %descr-title= product[:title]
                      %descr-description= product[:description]
                %td= product[:price]
                %td= number_field_tag "cart[#{product[:id]}]", product[:amount], min: "1", max: "99", step: 1
                %td.total= product[:total]
            %tr
              %td
                - if @order
                  = link_to 'GO TO CHECKOUT', checkout_path(:address), class: "btn btn-warning"
                - else
                  = link_to 'GO TO CART', cart_path, class: "btn btn-warning"
              %td
              %td
              %td