.content
  .content-flex
    %table.table
      %thead
        %th product
        %th Price
        %th QTY
        %th Total
        %th
      = form_tag cart_path, method: "PATCH" do
        %body
          - @cart.each do |product|
            - @total_price ||= 0
            - product[:coupon].nil? ? @total_price += product[:total] : @total_price += (product[:total] - product[:total] * product[:coupon].to_d/100)
            %tr
              %td
                .cart-product
                  %image= link_to image_tag("#{product[:image]}"), main_app.product_path(product[:id])
                  %descr
                    %descr-title= product[:title]
                    %descr-description= product[:description]
              %td= product[:price]
              %td= number_field_tag "cart[#{product[:id]}]", product[:amount], min: "1", max: "99", step: 1
              %td.total= product[:total]
              %td= link_to 'Remove', cart_path(stat: 0, id: product[:id]), class: "btn btn-danger", method: 'DELETE'
          %tr
            %td SUB TOTAL:
            %td
            %td
            %td
            %td= @total_price ? @total_price.round(2) : 0
          %tr
            %td
              = link_to 'EMPTY CART', cart_path(stat: 1), class: "btn btn-danger", method: 'DELETE'
              = link_to 'CONTINUE SHOPPING', main_app.shop_index_path, class: "btn btn-warning", method: 'GET'
            %td
            %td
            %td.update
              = number_field_tag 'coupon', nil, step: 1
              = button_tag 'UPDATE', class: "btn btn-info", type: "submit"
            %td= link_to 'CHECKOUT', checkout_path(:address), class: "btn btn-success", method: 'GET'